.browse {
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: black;
}

.add-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.delivery-input {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ddd;
    font-size: 16px;
    width: 300px;
    max-width: 100%;
}

.item-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.item-submit:hover {
    background-color: #0069d9;
    box-shadow: 1px 1px 5px #0069d9;
}

.bitem-table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;
}

.bitem-th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #007bff;
    color: #fff;
}

.cart {
    padding: 5px;
    margin: 2px;
    border: 1px solid #ddd;
    background-color: #007bff;
    color: #fff;
}

.place-order-btn {
    display: block;
    padding: 10px;
    margin: auto;
    border: 2px solid #ddd;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 1rem;
}